<nav class="navbar navbar-expand-lg navbar-light top-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Prueba Tecnica</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Aquí puedes añadir más elementos de menú si es necesario -->
            </ul>
            <span class="navbar-text me-2">Bienvenido, {{nombreUsuario}}</span>
            <form class="d-flex">
                <button class="btn btn-outline-light" type="button" (click)="onLogout()">Cerrar Sesión</button>
            </form>
        </div>
    </div>
</nav>